<main class="home-page">
  <p>👋 welcome to jottr! <a href="/" class="create-new">click here to start a new jot</a></p>

  <% unless @jots.count.zero? %>
    <div>
      <p>recent jots</p>

      <% @jots.each do |jot| %>
        <p><a href="/jots/<%= jot['id'] %>"><%= jot['title'] || jot['id'] %></a></p>
      <% end %>
    </div>
  <% end %>
</main>
