{{ define "css-jots/show" }}
{{/*<link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">*/}}
<style>
    .jot-page {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jot-page .body {
        flex: 1;
        width: 100%;

        outline: none;
        font-family: monospace;
        font-size: 15px;
    }

    .jot-page .footer {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .jot-page .footer .sync-status {
        color: gray;
    }
</style>
{{ end }}

<div class="jot-page">
    <div id="body" class="body" contenteditable="true">
        {{ .body }}
    </div>

    <div class="footer">
        <a href="/home">go home</a>
        <div id="toolbar"></div>
        <p id="sync-status" class="sync-status">saved</p>
    </div>
</div>

{{/*<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>*/}}
{{/*<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>*/}}
<script type="application/javascript">
    const saveDelayMs = {{ .save_delay_ms }};
    const quillArgs = ['#body', { placeholder: 'jot something...', modules: { toolbar: '#toolbar' } }];

    document.addEventListener('DOMContentLoaded', () => {
      // const quill = new Quill(...quillArgs);
      const id = "{{ .id }}";
      const body = document.getElementById('body');
      const syncStatus = document.getElementById('sync-status');
      if (body.innerText === '') body.focus();
      // quill.focus();

      const sync = () => {
        fetch(`/jot/${id}/sync`, { method: 'put', body: JSON.stringify({ body: body.innerHTML }) })
          .catch(console.log)
          .then((response) => response.json())
          .then((json) => {
            syncStatus.innerText = 'saved';
          });
      };

      let lastUpdate = null;
      body.addEventListener('input', (event) => {
        lastUpdate = Date.now();
        syncStatus.innerText = 'unsaved';

        setTimeout(() => {
          if (lastUpdate && (new Date()) - lastUpdate > saveDelayMs) {
            syncStatus.innerText = 'saving...';
            sync();
          }
        }, saveDelayMs);
      });
    });
</script>
