{{ define "css-home" }}
    <link rel="stylesheet" href="/css/home.css">
{{ end }}

<div class="home-page">
    <div class="top">
        <div>
            <strong>welcome to jottr!</strong>
            {{ template "partials/new" }}
        </div>

        {{ if . }}
            <div class="recents">
                <strong>recent jots</strong>
                {{ range $jot := . }}
                    <a href="/jot/{{ $jot.ID }}">{{ $jot.LinkText }}</a>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <footer>
        <a href="https://github.com/broothie/jottr">github</a>
    </footer>
</div>
